version: '3.8'

services:
  amecssolarlogger:
    image: ghcr.io/yanorei32/amecs-solar-logger:latest@sha256:1b97e3e1aec1ed9d662fea556d23361c37bccf2003d8a40128484ba41b38cf81
    hostname: amecssolarlogger
    container_name: amecssolarlogger__amecssolarlogger
    restart: unless-stopped

    environment:
      LAT: ${LAT}
      LON: ${LON}
      INFL_HOST: https://influxdb.yr32.net
      INFL_TOKEN: ${INFL_TOKEN}
      INFL_ORG: default
      INFL_BUCKET: power

    command: /usr/bin/amecs-solar-logger run

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

networks:
  default:
    name: amecssolarlogger__default
