version: '3.8'

services:
  amecssolarlogger:
    image: ghcr.io/yanorei32/amecs-solar-logger:latest@sha256:69aa958d359ce604d38f894f22a33d2ab6f7ab79aaa585b2de69c7297550169d
    hostname: amecssolarlogger
    container_name: amecssolarlogger__amecssolarlogger
    restart: unless-stopped

    environment:
      LAT: ${LAT}
      LON: ${LON}
      INFL_HOST: https://influxdb.yr32.net
      INFL_TOKEN: ${INFL_TOKEN}
      INFL_ORG: default
      INFL_BUCKET: power

    command: /usr/bin/amecs-solar-logger run

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

networks:
  default:
    name: amecssolarlogger__default
