version: '3.8'

services:
  amecssolarlogger:
    image: ghcr.io/yanorei32/amecs-solar-logger:latest@sha256:ead7b96476218abaa60072d00b91b7f69f8a44cdfe8e1acf354ba290b3f62049
    hostname: amecssolarlogger
    container_name: amecssolarlogger__amecssolarlogger
    restart: unless-stopped

    environment:
      LAT: ${LAT}
      LON: ${LON}
      INFL_HOST: https://influxdb.yr32.net
      INFL_TOKEN: ${INFL_TOKEN}
      INFL_ORG: default
      INFL_BUCKET: power

    command: /usr/bin/amecs-solar-logger run

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

networks:
  default:
    name: amecssolarlogger__default
